{% extends "base.html" %}

{% block app_content %}
    <h1>Welcome</h1>
  	<p>The site serves as a sandbox for me to develop software that I'm currently interested in and actively learning.</p>
  	<p>My primary focus at the moment has been Python & Flask.</p>
  	<br>
  	<p>The Sentiment Analysis tab makes use of several python and flask libraries. Find it on github here <a href="https://github.com/jmiller611/twit">GitHub</a></p>
  	<ul>
  		<li>Flask - to build the site's backend framework</li>
  		<li>Tweepy - to query tweets from twitter</li>
  		<li>Textblob - to assign positive, negative, or netural sentiments</li>
  		<li>Pandas - to transform the tweet data</li>
  		<li>Chart.js - to graphically represent the tweet data</li>
  		<li>Bootstrap - to makes everything pretty</li>
  	</ul>
{% endblock %}

